<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
<div class="col-12 col-lg-6 ">
<img src="/images/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking blogs">
</div>
<div class="col-12 col-lg-6">
   <h1 class="display-5 fw-bold  mb-3"> Huge selection of delicious recipe ideas  </h1>
   <p class="lead">
    Explore of huge selection of delicious recipe ideas including: easy deserts, delicios vegan and vegatarian dinner ideas, gorgeos pasta recipes,  quick bakes, family-friendly meals and gluten-free recipes.
   </p>

   <div class="d-grid gap-2  d-md-flex justify-content-md-start">
    <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
    <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
   </div>

</div>
</div>


<!-- ......categories......  -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3  py-4">

    <% if(categories!=''){%>
        <% categories.forEach(function(Category,index){ %>
            <a href="/categories/<%=Category.name %>" class="col text-center category__link">
            <div class="category__img shadow">
             <img src="/images/<%=Category.image%>"alt="<%=Category.name %>" loading="lazy" >
            </div>
            <div class="pt-1"><%=Category.name %> </div>
         </a>
       <% })%>
        
    <%} %>
    
    
    </a>
    <a href="/categories" class="col text-center category__link">
       <div class="category__img shadow">
        <img src="/images/view-all.jpg" alt="view all category" loading="lazy" >
       </div>
       <div class="pt-1">View All </div>
    </a>
</div>



<!-- .......latest-start......  -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food !=''){
        %> <%food.latest.forEach((Recipe,index) => { %>
            <a href="/recipe/<%= Recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= Recipe.image %>" alt="<%= Recipe.name %>" loading="lazy" >
               </div>
               <div class="pt-1"><%= Recipe.name %> </div>
        </a>
        <% })%>
         <% } %>
   
        
        
    </div>

</section>







<!-- .......Thai-recipe-start......  -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Thai Recipes</h2>
        <a href="/categories/Thai" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food !=''){
        %> <% food.Thai.forEach((Recipe,index) => { %>
            <a href="/recipe/<%= Recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= Recipe.image %>" alt="<%= Recipe.name %>" loading="lazy" >
               </div>
               <div class="pt-1"><%= Recipe.name %> </div>
        </a>
        <% })%>
         <% } %>
   
        
        
    </div>

</section>
<!-- .......American-recipe-start......  -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>American Recipes</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food !=''){
        %> <% food.American.forEach((Recipe,index) => { %>
            <a href="/recipe/<%= Recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= Recipe.image %>" alt="<%= Recipe.name %>" loading="lazy" >
               </div>
               <div class="pt-1"><%= Recipe.name %> </div>
        </a>
        <% })%>
         <% } %>
   
        
        
    </div>

</section>
<!-- .......Chinese-recipe-start......  -->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Chinese Recipes</h2>
        <a href="/categories/Chinese" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if (food !=''){
        %> <% food.Chinese.forEach((Recipe,index) => { %>
            <a href="/recipe/<%= Recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="/uploads/<%= Recipe.image %>" alt="<%= Recipe.name %>" loading="lazy" >
               </div>
               <div class="pt-1"><%= Recipe.name %> </div>
        </a>
        <% })%>
         <% } %>
   
        
        
    </div>

</section>




<!-- .........submit-section........  -->
<section class="px-4 py-5 my-4 text-center ">
    <img src="/images/publish-recipe.png" alt="Publish Your Recipe" class="block mx-auto mb-4  img-fluid "  width="566" height="208">
    <h1 class="display-5 fw-bold">Publish your recipe for Free today.</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish your recipe infront of thousands of people for free. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
        </div>
    </div>

</section>
